{{define "changePassword"}}

<div class="flex items-center justify-between mb-4">
    <h2 class="font-medium mb-2 flex items-center w-full">
        <svg class="w-6 h-6 text-yellow-600 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 11c1.104 0 2-.896 2-2V7a2 2 0 10-4 0v2c0 1.104.896 2 2 2zm6 2v7a2 2 0 01-2 2H8a2 2 0 01-2-2v-7m12 0a2 2 0 00-2-2H8a2 2 0 00-2 2m12 0H6" />
        </svg>
        <span>Alterar Senha</span>
    </h2>
    <div class="flex justify-items-end w-full items-center justify-end" id="senha_padrao">
        {{if .User.MustChangePassword}}
        <span class="ml-2 text-xs text-red-600">Sua senha ainda é a padrão. Por favor,
            altere-a.</span>
        <span class="relative flex size-3 m-1">
            <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-red-400 opacity-75"></span>
            <span class="relative inline-flex size-3 rounded-full bg-red-500"></span>
        </span>
        {{end}}
    </div>
</div>
<form hx-post="/user/mudar-senha" hx-target="#mensagem" hx-swap="innerHTML" class="space-y-3" id="form_mudar_senha">
    <div id="mensagem" class="text-sm mt-2 hidden"></div>
    <div>
        <label class="block text-sm font-medium">Senha Atual</label>
        <div class="relative flex content-center">
            <input type="password" name="current_password" required class="mt-1 w-full border rounded p-2 pr-10"
                minlength="4" id="current_password" maxlength="100" />
            <button type="button" tabindex="-1"
                class="absolute inset-y-1 mt-1 right-0 flex items-center px-2 bg-transparent"
                onclick="togglePasswordVisibility('current_password', this)">
                <svg class="h-5 w-5 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0zm6 0c0 5-4.03 9-9 9S3 17 3 12 7.03 3 12 3s9 4 9 9z" />
                </svg>
            </button>
        </div>
    </div>
    <div>
        <label class="block text-sm font-medium">Nova Senha</label>
        <div class="relative flex content-center">
            <input type="password" name="new_password" id="new_password" required
                class="mt-1 w-full border rounded p-2 pr-10" minlength="4" maxlength="100" />
            <button type="button" tabindex="-1"
                class="absolute inset-y-1 mt-1 right-0 flex items-center px-2 bg-transparent"
                onclick="togglePasswordVisibility('new_password', this)">
                <svg class="h-5 w-5 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0zm6 0c0 5-4.03 9-9 9S3 17 3 12 7.03 3 12 3s9 4 9 9z" />
                </svg>
            </button>
        </div>
    </div>
    <input type="hidden" name="user_id" value="{{.User.ID}}" />
    <div>
        <label class="block text-sm font-medium">Confirmar Nova Senha</label>
        <div class="relative flex content-center">
            <input type="password" name="confirm_new_password" id="confirm_new_password" required
                class="mt-1 w-full border rounded p-2 pr-10" minlength="4" maxlength="100" />
            <button type="button" tabindex="-1" class="absolute inset-y-0 right-0 flex items-center px-2 bg-transparent"
                onclick="togglePasswordVisibility('confirm_new_password', this)">
                <svg class="h-5 w-5 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0zm6 0c0 5-4.03 9-9 9S3 17 3 12 7.03 3 12 3s9 4 9 9z" />
                </svg>
            </button>
        </div>
        <p id="senha_erro" class="text-red-600 text-xs mt-1 hidden">As senhas não coincidem.</p>
    </div>
    <button type="submit" class="w-full bg-yellow-600 text-white rounded p-2 font-semibold hover:bg-yellow-700">
        Alterar Senha
    </button>
</form>
<script src="/public/password.min.js" defer></script>
{{end}}